.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    text-underline-offset: 4px;
    padding: 92px 50px 96px;
}

.header__links-list {
    display: flex;
    gap: 13px;
    list-style-type: circle;
    list-style-position: inside;
    justify-content: start;
    padding:0;
    margin: 0;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__link {
   font-size: 18px;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    display: block;
    padding-bottom: 96px;
    width: 136px;
    height: 104px;
}

.address {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    font-style: normal;
}

.header__address {
    max-width: 240px;
    justify-self: flex-end;
}


.cover {
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 757px;
    position: relative;
    text-align: center;
    z-index: -1;
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: rgb(0 0 0 / 0.6);
}

.wrapper-cover_title {
    padding: 165px 50px 106px 50px;
}

.cover__title {
    text-transform: uppercase;
    color: #fff;
    font-size: 100px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.3em;
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.aligned-text {
    display: block;
    position: relative;
    z-index: 1;
}

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    padding: 0 50px 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 107px;
}

.cover__description-text {
    font-size: 22px;
    line-height: 1.27em;
    text-transform: uppercase;
    color: #fff;
    text-align: justify;
    word-spacing: 18px;
}

.bet-button {
    border: 1px solid #fff;
    background: none;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    padding: 12px 32px;
}

.lots {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    margin: 180px 24px 0 24px;
}

.lots__heading {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    color: #000;
    text-align: left;
    padding-left: 40px;
    padding-bottom: 27px;
}

.lots__card-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    
}

.lots__card-list-item {
    min-height: 596px;
    width: 334px;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    
}

.card-link {
    height: 100%;

}

.card {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
}

.wrapper_card_content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 42px 40px;
}

.card__title {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-align: left;
    line-height: 1.2;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.card__text {
    font-size: 20px;
    color: #fff;
    line-height: 1.2;
    text-align: left;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
    font-size: 20px;
    color: #000;
    text-decoration: underline;
    text-underline-offset: 5px;
    padding: 30px 0px 2px 40px;
    display: flex;
    width: max-content;
}

.about {
   padding: 120px 24px 180px;
    
    width: 100%;
    display: grid;
    grid-template-columns: 287px 1fr;
    gap: 72px;
}

.about__column__logo {
    padding-top: 35px;
    padding-left: 47px;
}

.about__logo {
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__logo-image {
    height: 114px;
}

.about__column__info {
    padding-top: 133px;
   
}

.about__title {
    font-size: 40px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
}

.about__text {
    padding-top: 100px;
    font-size: 20px;
    color: #000;
    line-height: 1.2;
    font-weight: 400;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 164px 1fr;
    align-items: start;
    justify-content: space-between;
    padding: 1px 50px 0;
     text-underline-offset: 4px;
}

.footer__address {
    justify-self: flex-start;
    padding-bottom: 82px;
    max-width: 264px;
    line-height: 1.3;

}

.footer__menu-list {
    font-size: 18px;
    color: #000;
    list-style-type: none;
    text-align: center;
    padding-bottom: 115px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    list-style-type: none;
    display: flex;
    justify-self: flex-end;
    gap: 48px;
    padding-bottom: 131px;

}

.footer__social-icon {
    max-height: 48px;
}